<div class="contact">
      <div class="container">
      		<h3>To discuss working together... </h3>
          <h3>to get a restaurant recommendation... </h3>
          <h3>or even to dish what happened on Bravo last night... </h3>
      		<div class="row">
            <div class="col-md-2"> 
      		
      			   <a><%= link_to image_tag("email.png"), "mailto:kathryn.swartz@gmail.com" %></a> </div> 

               <div class="col-md-2"> 
               	<a><%= link_to image_tag("linkedin11.png"), "http://www.linkedin.com/in/kathrynswartz" %></a> </div>

                <div class="col-md-2"> 
     				<a><%= link_to image_tag("twitter1.png"), "http://www.twitter.com/in/kathrynswartz" %></a></div>
        

        <div class="col-md-2"> 
            <a><%= link_to image_tag("google116.png"), "https://plus.google.com/108053183886414797518/posts" %></a></div>

            <div class="col-md-2"> 
            <a><%= link_to image_tag("facebook24.png"), "https://www.facebook.com/kathryn.swartz" %></a></div>
        </div>

     				
      </div>
     </div>


    
    <!--   <div class="col-md-2"> <a class="github" href="#">github</a> </div> 
      <div class="col-md-2"> <a class="twitter" href="#">twitter</a> </div> 
      <div class="col-md-2"> <a class="facebook" href="#">facebook</a> </div> 
      <div class="col-md-2"> <a class="gplus" href="#">google plus</a> 
      </div> <div class="col-md-2"> <a class="instagram" href="#">instagram</a> 
    </div> </div> </div> </div>  -->