    <div class="banner"> 
      <ul>
 <li><%= image_tag("magazine.jpg") %>
  </li>
 <li><%= image_tag("editing.jpg") %></li>
       <li><%= image_tag("papercrop2.png") %></li>
   </ul>
</div>
<script>

$(function() {
    $('.banner').unslider();
});
</script>

<div class="supporting">
      <div class="container">
          <h1> From content conception and project management to design direction and copy editing, I’ve done it all. <br>Click through to view ad-free samples of my past work.<h1>



        <h2>Magazines</h2>

        <div class="row">

          <div class="col-md-3">
              <%= link_to image_tag("thumb.thrive1.png"),("https://s3-us-west-2.amazonaws.com/ksr.portfolio/Thrive1.pdf")  %>
            </div>
              
          <div class="col-md-3">
              <%= link_to image_tag("thumb.thrive2.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/ThriveSummer2014.pdf")  %>
            </div>

            <div class="col-md-3">
              <%= link_to image_tag("thumb.thrive3.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/ThriveAnnual2014.pdf")  %>
            </div>

      <div class="col-md-3">
              <%= link_to image_tag("thumb.thrive4.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/ThriveWinter2015.pdf")  %>
            </div>

        <div class="row">
    <div class="col-md-3 text-center"></div>

    <div class="col-md-6" style="position:relative;">
    <div class="row">
      <span class="col-md-12 text-center" style="position:absolute;top:10px;left:0px;z-index:1000;color:black;font-size:13pt">THRIVE!, winner, INMA Global Media Award: "Best New Print Product 2015" </span>
      <div class="col-md-6 text-center" ></div>
      <div class="col-md-6 text-center" ></div>
    </div>
  </div>

  <div class="col-md-3 text-center" ></div>
</div>

    <div class="row">
            <div class="col-md-3">
              <%= link_to image_tag("thumb.healthieryou.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.healthieryou.pdf")  %>
            </div>

            <div class="col-md-3">
              <%= link_to image_tag("thumb.healthieryou1.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/HealthierYou1.pdf")  %>
            </div>

            <div class="col-md-3">
              <%= link_to image_tag("thumb.indulgecover.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/indulge.pdf")  %>
            </div>
        <div class="col-md-3">
              <%= link_to image_tag("thumb.soco.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/SoCo.pdf")  %>
            </div>
           

                </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.etp.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/ETPMay.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.pdxtra.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/PDXtra.pdf")  %>
            </div>
                <div class="row">
                  <div class="col-md-3">
              <%= link_to image_tag("thumb.VIP.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/VIPHomes.pdf")  %>
            </div>
            
            <div class="col-md-3">
              <%= link_to image_tag("thumb.motivate.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/motivate.pdf")  %>
            </div>
          </div>

                


                <h2>Special Sections</h2>

                <div class="row">
             

            <div class="col-md-3">
              <%= link_to image_tag("thumb.bridescover.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.brides.pdf")  %>
            </div>


        <div class="col-md-3">
              <%= link_to image_tag("thumb.oregonstater.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/OSU.pdf")  %>
            </div>
    
        <div class="col-md-3">
              <%= link_to image_tag("thumb.fashion.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.fashion.pdf")  %>
            </div>

             <div class="col-md-3">
              <%= link_to image_tag("thumb.giftguide.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.giftguide.pdf")  %>
            </div>
          </div>

          <div class="row">

            <div class="col-md-3">
              <%= link_to image_tag("thumb.winterhouse.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.winterhouse.pdf")  %>
            </div>

             <div class="col-md-3">
              <%= link_to image_tag("thumb.lakecountycover.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.lakecounty.pdf")  %>
            </div>
    
            <div class="col-md-3">
              <%= link_to image_tag("thumb.beaumontevents.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.beau.events.pdf") %>
            </div>

             <div class="col-md-3">
              <%= link_to image_tag("thumb.beercover.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/full.beer.pdf") %>
            </div>


            </div>



            <div class="row">

            <div class="col-md-3">
              <%= link_to image_tag("thumb.sangabriel.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/SanGabriel.pdf")  %>
            </div>

             <div class="col-md-3">
              <%= link_to image_tag("thumb.holidaywine.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/HolidayWineGuide.pdf")  %>
            </div>
    
            <div class="col-md-3">
              <%= link_to image_tag("thumb.sfis.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/SFis.pdf")  %>
            </div>

             <div class="col-md-3">
              <%= link_to image_tag("thumb.auto.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/AutoShow2015.pdf")  %>
            </div>


            </div>

<h2>Dailies</h2>
<div class="row">
              <div class="col-md-3">
              <%= link_to image_tag("thumb.jobs.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TampaJobs.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.houstonre.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/HoustonRE.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.nnre.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/NNRE.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.houstonbiz.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/HoustonBiz.pdf")  %>
            </div>
          </div>

<div class="row">
              <div class="col-md-3">
              <%= link_to image_tag("thumb.sports_0913.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaSports_0913.pdf")  %>
            </div>

            <div class="col-md-3">
              <%= link_to image_tag("thumb.sports_1004.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaSports_1004.pdf")  %>
            </div>
          <div class="col-md-3">
              <%= link_to image_tag("thumb.re_0826.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaRealEstate_0826.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.re_0909.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaRealEstate_0909.pdf")  %>
            </div>
           
          </div>
          </div>

<div class="row">
            <div class="col-md-3">
              <%= link_to image_tag("thumb.health_0918.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaHealth_0918.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.health_1016.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaHealth_1016.pdf")  %>
            </div>
          <div class="col-md-3">
              <%= link_to image_tag("thumb.arts_0822.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaArts_0822.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.arts_1107.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaArts_1107.pdf")  %>
            </div>

</div>
<div class="row">
            <div class="col-md-3">
              <%= link_to image_tag("thumb.arts_1114.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaArts_1114.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.biz_0716.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaBusiness_0716.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.biz_0903.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaBusiness_0903.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.edu_0901.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaEducation_0901.pdf")  %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <%= link_to image_tag("thumb.edu_0714.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaEducation_0714.pdf") %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.comm_1026.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaCommunity_1026.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.comm_1116.png"), ( "Thttps://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaCommunity_1116.pdf")  %>
            </div>
            <div class="col-md-3">
              <%= link_to image_tag("thumb.comm_1221.png"), ( "https://s3-us-west-2.amazonaws.com/ksr.portfolio/TemeculaCommunity_1221.pdf")  %>
            </div>
          </div>

            
</div>


         </div>
        </div>
  





<script src="//code.jquery.com/jquery-latest.min.js"></script>
<%= javascript_include_tag "application" %>
