    <div class="banner"> 
      <ul>
 <li><%= image_tag("magazine.jpg") %></li>
 <li><%= image_tag("editing.jpg") %></li>
       <li><%= image_tag("papercrop2.png") %></li>
   </ul>
</div>
<script>

$(function() {
    $('.banner').unslider();
});
</script>

<div class="supporting">
      <div class="container">
        <h2>work samples</h2>

        <div class="row">
          <div class="col-md-3">
              <%= link_to( image_tag("thumb.bridescover.png"), image_path( "full.brides.pdf") ) %>
            </div>

             <div class="col-md-3">
              <%= link_to( image_tag("thumb.beercover.png"), image_path( "full.beer.pdf") ) %>
            </div>

            <div class="col-md-3">
              <%= link_to( image_tag("thumb.beaumontevents.png"), image_path( "full.beau.events.pdf") ) %>
            </div>

    <div class="col-md-3">
              <%= link_to( image_tag("thumb.indulgecover.png"), image_path( "#") ) %>
            </div>
                </div>

                <div class="row">
              <div class="col-md-3">
              <%= link_to( image_tag("thumb.lakecountycover.png"), image_path( "full.lakecounty.pdf") ) %>
            </div>

            <div class="col-md-3">
              <%= link_to( image_tag("thumb.giftguide.png"), image_path( "full.giftguide.pdf") ) %>
            </div>

            <div class="col-md-3">
              <%= link_to( image_tag("thumb.winterhouse.png"), image_path( "full.winterhouse.pdf") ) %>
            </div>
    
        <div class="col-md-3">
              <%= link_to( image_tag("thumb.healthieryou.png"), image_path( "full.healthieryou.pdf") ) %>
            </div>
</div>


<div class="row">
              <div class="col-md-3">
              <%= link_to( image_tag("thumb.thrive2.png"), image_path( "#") ) %>
            </div>

            <div class="col-md-3">
              <%= link_to( image_tag("thumb.thrive3.png"), image_path( "#") ) %>
            </div>

            <div class="col-md-3">
              <%= link_to( image_tag("thumb.oregonstater.png"), image_path( "#") ) %>
            </div>
    
        <div class="col-md-3">
              <%= link_to( image_tag("thumb.fashion.png"), image_path( "full.fashion.pdf") ) %>
            </div>
</div>


         </div>
        </div>
  





<script src="//code.jquery.com/jquery-latest.min.js"></script>
<%= javascript_include_tag "application" %>
